# this file goes into /etc/udev/rules.d/

SUBSYSTEM=="usb", ATTRS{idProduct}=="0a7f", ATTRS{idVendor}=="0638", GROUP="scanner", MODE="0664", ENV{libsane_matched}="yes"
