# this file goes into /etc/udev/rules.d/

SUBSYSTEM=="usb", ATTRS{manufacturer}=="Hewlett-Packard.        ", ATTRS{product}=="USB2.0 Scanner            ", GROUP="scanner", MODE="0664", ENV{libsane_matched}="yes"
